.modal-search-all {
  .header {
    font-weight: 900;
    margin-bottom: 0;
  }
  .bHeader {
    margin-bottom: -1rem;
  }

  .item-number {
    width: 1.5rem;
    margin-top: 1.5rem;
    align-self: flex-start;
  }
}
